* {
    padding: 0;
    margin: 0
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 10%;
}

.left-side {
    /*margin-top: 17%;*/
    margin-right: 16%;
    /*border: 2px solid black;*/
    padding: 124px;
    margin-left: 105em;
    height: 250px;
}

.left-side .search {
    padding: 10px 30px;
    margin-top: 1em;
}

.left-side .search:focus {
    outline: none;
}

.left-side .button {
    margin-top: 32px;
    padding: 8px 30px;
    margin-left: 54px;
    background-color: antiquewhite;
    border: none;
    border-radius: 3px;
}

.left-side .button:hover {
    background-color: cadetblue;
    color: white;
}

.left-side .button:focus {
    outline: none;
}

.upper {
    position: relative;
}

.right-side {
        /* margin-top: 17%; */
    margin-right: 16%;
    /* border: 2px solid black; */
    padding: 124px;
    margin-left: 95em;
    height: 250px;
}



.right-side .button {
    position: absolute;
    transform: translate(14rem, -5rem);
    width: 8rem;
    height: 2rem;
    background-color: antiquewhite;
    border: none;
    border-radius: 3px;
}

.right-side .button:hover {
    background-color: cadetblue;
    color: white;
}

.right-side .button:focus {
    outline: none;
}

.right-side h3 {
    margin-left: 162px;
}

.bottom ul {
    list-style-type: none;
    margin-top: 30px;
    text-align: center;
}
.bottom ul li{
    width: 500px;
    background-color: #5b80b2;
}
element.style {
    display: none;
}